<div class="d-flex justify-content-between align-items-center">
  <div class="my-2">
    <div class="input-group">
        <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :search, input_html: {value: ""}, label: false, placeholder: "Search a cocktail", id: :search_bar %>
          <%= f.submit "Search", class: "btn btn-warning" %>
        <% end %>
    </div>
  </div>
  <div>
    <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-warning" %>
  </div>
</div>
<div class="paidetodos mt-4">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: "text-decoration-none text-dark" do %>
      <div class="card cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <div class="card-body">
          <h4 class="card-title cocktail-title"><%= cocktail.name %></h4>
          <p class="card-typed-text"></p>
          <div class="ingredients-display">
            <ul class="card-text">
              <% cocktail.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
            <input class="cocktail-ingredients" value="<%= cocktail.doses %>" />
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="card-category" >

</div>
